body {
  height: 95vh;
  background-color: #25282A;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 5vh;
}

.container {
  width: 70vh;
  height: 55vh;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 6fr 1fr;
  row-gap: 2vh;
}

.content-img {
  grid-column-start: 1;
  grid-column-end: 3;
}

.control {
  display: flex;
  align-items: center;
  justify-content: end;
}

input {
  display: none;
}

label {
  font-size: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vh;
  height: 3vh;
  border-radius: 100%;
  cursor: pointer;
}

.pin {
  display: inline-block;
  background-color: #2976e0;
  border: 0.25vh solid #2976e0;
  box-sizing: border-box;
  width: 2vh;
  height: 2vh;
  border-radius: 100%;
  z-index: 5;
  transition: 0.2s;
}

.pin:hover {
  border-color: #fff;
  background-color: #fff;
}

label:hover .pin {
  border-color: #fff;
  background-color: #fff;
}

.content-img {
  width: 100%;
  height: 100%;
  background-color:#25282A;
  display: grid;
}

.img {
	height: inherit;
	width: inherit;
  transform: translate(0, 2vh);
  opacity: 0;
  transition: 1s ease-in-out;
  border-radius: 0.5vh;
  background-position: center;
  background-size: cover;
}
.content-desc {
  display: grid;
}
.desc {
  font-size: 1.2em;
  transform: translate(0, 2vh);
  opacity: 0;
  transition: 1s ease-in-out;
}

#desc1 {
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#desc2 {
  z-index: 2;
  grid-area: 1 / 1 / 2 / 2;
}

#desc3 {
  z-index: 3;
  grid-area: 1 / 1 / 2 / 2;
}

#desc4 {
  z-index: 4;
  grid-area: 1 / 1 / 2 / 2;
}

#img1 {
  background-image: url('./img/1.jpg');
  z-index: 1;
  grid-area: 1 / 1 / 2 / 2;
}
#img2 {
  background-image: url('./img/2.jpg');
  z-index: 2;
  grid-area: 1 / 1 / 2 / 2;
}
#img3 {
  background-image: url('./img/3.jpg');
  z-index: 3;
  grid-area: 1 / 1 / 2 / 2;
}
#img4 {
  background-image: url('./img/4.jpg');
  z-index: 4;
  grid-area: 1 / 1 / 2 / 2;
}

#input1:checked~.control #pin1,
#input2:checked~.control #pin2,
#input3:checked~.control #pin3,
#input4:checked~.control #pin4  {
  background-color: rgba(255, 255, 255, 0);
}

#input1:checked~.content-img #img1,
#input2:checked~.content-img #img2,
#input3:checked~.content-img #img3,
#input4:checked~.content-img #img4
{
  transform: translate(0, 0);
  opacity: 1;
}

#input1:checked~.content-desc #desc1,
#input2:checked~.content-desc #desc2,
#input3:checked~.content-desc #desc3,
#input4:checked~.content-desc #desc4
{
  transform: translate(0, 0);
  opacity: 1;
}

#input1:active~.control #pin1,
#input2:active~.control #pin2,
#input3:active~.control #pin3,
#input4:active~.control #pin4  
{
  border-color: rgb(187, 187, 187);
  background-color: rgb(187, 187, 187);
}

@media (max-width: 768px) {

  h1 {
    text-align: center;
  }

  .control {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
  }

  .content-desc {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .container {
    width: 90vw;
    height: 60vh;
  }
}



